<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Marvelous Marilyn</title>
    <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="icon.png">
    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="ios-icon.png">
    <!-- multiple icons for IE -->
    <meta name="msapplication-square310x310logo" content="icon_largetile.png">
  </head>
  <body>
    <div id="marilyn"></div>
    <div id="data"></div>
    <script type="text/javascript">
      IDEAL_TIME_IMAGE = 'https://psychic-marilyn.s3-us-west-1.amazonaws.com/marilyn7.jpg'
      SOON_TIME_IMAGE = 'https://psychic-marilyn.s3-us-west-1.amazonaws.com/marilyn11.jpg'
      NOT_IDEAL_TIME_IMAGE = 'https://psychic-marilyn.s3-us-west-1.amazonaws.com/marilyn13.jpg'

      $.get('/bart', function(data) {
        next_train = data.next_train
        if (!next_train || next_train > 13) {
          marilynImage = NOT_IDEAL_TIME_IMAGE
        } else if (next_train >= 11) {
          marilynImage = SOON_TIME_IMAGE
        } else if (next_train >= 8) {
          marilynImage = SOON_TIME_IMAGE
        }

        $('#marilyn').html('<img src="' + marilynImage + '" width="100%"/>')

        var dataTable = ""
        data.all_trains.forEach(function(route) {
          dataTable += route.name + "<br><ul>"
          route.times.forEach(function(estimatedArrival) {
            dataTable += "<li>" + estimatedArrival + " minutes</li>"
          })
          dataTable += "</ul>"
        })
        $('#data').html(dataTable)
      })
    </script>
  </body>
</html>
